/*============================================================*\
|//////////////////// accomodations.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*============================================================*/

.accomodations-title {
	position: absolute;
	top: 6em;
	right: 3em;
	font-size: 0.5rem;
	color: #fff;
	padding: 0 0 1em 1em;
}

.page-title {
	font-size: 5em;
	margin: 0;
}

.accomodations-title .page-tagline {
	position: relative;
	top: 0.3em;
	left: 8em;
	font-size: 3em;
	font-style: italic;
	font-family: serif;
}

.page-tagline {
	position: relative;
	font-size: 2em;
	top: -5em;
}

.content .cover-image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/brochure/full/sundeck.png);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}


/*=====================================================*\
|//////////////////// NAV blocks \\\\\\\\\\\\\\\\\\\\\\\|
\*=====================================================*/

.accomodation-block-group {
	position: relative;
	top: 13em;
	left: 2.5em;
	font-size: 2rem;
}

.accomodation-block {
	opacity: 0;
	display: inline-block;
	position: relative;
	text-align: center;
	transform: rotate(45deg);
}

.accomodation-block-diamond {
	height: 6em;
	width: 6em;
	text-align: center;
	color: #444;
	background: rgba(255,255,255,0.8);
	border-radius: 0.5em;
	overflow: hidden;
	transition: color 0.3s, background 0.3s;
}

.accomodation-block-diamond .nav-item {
	position: relative;
	top: 40%;
	transform-origin: center center;
	transform: rotate(-45deg);
}

.nav-item.two-liner {
	top: 30%;
	left: 5%;
}

.accomodation-block .accomodation-block-diamond:hover {
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.accomodation-block.zigzag:nth-child(1) {
	top: -3em;
	animation: fade-in 1s ease-in-out forwards;
}

.accomodation-block.zigzag:nth-child(3) {
	top: -3em;
	animation: fade-in 500ms 500ms ease-in-out forwards;
}

.accomodation-block.zigzag:nth-child(2) {
	animation: fade-in 750ms 250ms ease-in-out forwards;
}

.accomodation-block.zigzag:nth-child(4) {
	animation: fade-in 250ms 750ms ease-in-out forwards;
}


/*================================================*\
|//////////////////// SPECS \\\\\\\\\\\\\\\\\\\\\\\|
\*================================================*/

.bottom-runner {
	position: absolute;
	top: 9em;
	right: 0;
}

.specs-accomodations {
	width: 20em;
	color: #fff;
	padding: 2em;
	list-style: none;
	text-align: right;
}

.list-item-label {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1em;
}

.list-item-value {
	list-style: none;
	padding-right: 0.5em;
}


/*=====================================================*\
|//////////////////// ANIMATIONS \\\\\\\\\\\\\\\\\\\\\\\|
\*=====================================================*/

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}