/*============================================================*\
|//////////////////// accomodations.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*============================================================*/

.accomodations-title {
	position: absolute;
	top: 10em;
	right: 12em;
	font-size: 0.5rem;
	color: #fff;
	padding: 0 0 1em 1em;
}

.page-title {
	font-size: 5em;
	margin: 0;
}

.accomodations-title .page-tagline {
	position: relative;
	top: 0.3em;
	left: 8em;
	font-size: 3em;
	font-style: italic;
	font-family: serif;
}

.page-tagline {
	position: relative;
	font-size: 2em;
	top: -5em;
}

.section-full {
	border: 5em solid #444;
	box-shadow: inset 0 0 0 0.5em #fff;
}

.content .cover-image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../images/brochure/full/sundeck.png);
}


/*=====================================================*\
|//////////////////// NAV blocks \\\\\\\\\\\\\\\\\\\\\\\|
\*=====================================================*/

.accomodation-block-group {
	position: relative;
	width: 50%;
	top: 5em;
	left: 2.5em;
	font-size: 2rem;
}

.accomodation-block {
	display: inline-block;
	position: relative;
	width: 100%;
	color: #fff;
	text-align: left;
	margin-bottom: 0.5em;
}

.accomodation-block .nav-item {
	border-radius: 2.5em;
	border: 0.2em solid #fff;
	-webkit-filter: grayscale(0.5);
	-moz-filter: grayscale(0.5);
	filter: grayscale(0.5);
}

.accomodation-block .nav-item:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

.nav-item {
	width: 100%;
	padding: 1em;
	margin: 0;
	background-size: cover;
	background-position: center;
}

#decks {
	background-image: url(../images/brochure/full/aftdeck.png);
}

#saloon {
	background-image: url(../images/brochure/820/dining.png);
}

#cabins {
	background-image: url(../images/brochure/full/mastersuite.png);
}

/*================================================*\
|//////////////////// SPECS \\\\\\\\\\\\\\\\\\\\\\\|
\*================================================*/

.bottom-runner {
	position: absolute;
	top: 9em;
	right: 6em;
}

.specs-accomodations {
	width: 20em;
	color: #fff;
	padding: 2em;
	list-style: none;
	text-align: right;
}

.list-item-label {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1em;
}

.list-item-value {
	list-style: none;
	padding-right: 0.5em;
}