/*=====================================================*\
|//////////////////// CABINS.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*=====================================================*/

.flex-sections {
	display: flex;
}


/*===============================================*\
|//////////////////// TEXT \\\\\\\\\\\\\\\\\\\\\\\|
\*===============================================*/

.text {
	order: 2;
}

.title {
	position: relative;
	top: 6em;
	height: 12em;
	width: 30em;
	padding: 1em;
	margin: auto;
	margin-bottom: 10em;
	font-size: 0.5rem;
}

.page-title {
	font-size: 5em;
	margin: 0;
}

.section-title {
	margin: 0 0 -3em 3em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 1.3em;
}

.text {
	min-width: 320px;
	flex-basis: 34%;
	text-align: justify;
}

.air-out {
	padding: 5em;
}

.dark-text-box {
	margin: 0.5rem 0.5rem 0;
}

.cabin-specs {
	font-size: 0.8em;
	display: flex;
	background: #666;
	color: #ccc;
	margin: 0 0.5rem 3em;
}

.cabin-specs .specs {
	list-style: none;
	padding: 1em 3em;
	flex-grow: 1;
}

.list-item-label {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
}

.list-item-value {
	list-style: none;
	padding: 0;
}


/*=================================================*\
|//////////////////// IMAGES \\\\\\\\\\\\\\\\\\\\\\\|
\*=================================================*/

.images {
	order: 1;
	flex-basis: 66%;
	background: #444;
	padding: 5em;
	display: flex;
	flex-flow: column;
}

.image-row {
	display: flex;
	border-right: 0.5em solid #fff;
}

.image-row:last-child {
	border-bottom: 0.5em solid #fff;
}

.image-row div {
	flex-grow: 1;
}

.full-width,.half-width {
	background-size: cover;
	background-position: center;
	border-top: 0.5em solid #fff;
	border-left: 0.5em solid #fff;
}

.half-width {
	width: 50%;
}


.full-width img {
	width: 100%;
}

.half-width img {
	max-width: 100%;
	max-height: 100%;
}

img {
	/* display is handled via the background */ 
	opacity: 0;
}

#master-bed {
	background-image: url(../images/brochure/full/mastersuite.png);
}

#master-bath {
	background-image: url(../images/brochure/full/maincabinbath.png);
}

#guest-bath {
	background-image: url(../images/brochure/full/guestcabinbath.png);
}

#twin-cabin {
	background-image: url(../images/brochure/full/twincabin.png);
}

#queen-cabin {
	background-image: url(../images/brochure/full/queencabin.png);
}


/*========================================================*\
|//////////////////// MEDIA QUERIES \\\\\\\\\\\\\\\\\\\\\\\|
\*========================================================*/


@media (min-width:850px) and (max-width:1120px){
	.air-out {
		padding: 5em 3em;
	}
}

@media (max-width:850px) {
	.flex-sections {
		flex-flow: column-reverse;
	}
	
	.text {
		flex-basis: auto;
		border-top: 0.5em solid #444;
	}
	
	.dark-text-box, .cabin-specs {
		margin-left: 0;
		margin-right: 0;
	}
	
	.cabin-specs .specs {
		flex-grow: initial;
	}
	
	.images {
		flex-basis: auto;
	}
}

@media (max-width:600px) {
	.images {
		padding: 2em;
	}
}

@media (max-width:450px) {
	.air-out {
		padding: 5em 2.5em;
	}
	
	.images {
		padding: 0;
	}
	
	.image-row,
	.image-row:last-child,
	.full-width,
	.half-width {
		border-color: #444;
	}
}