/*====================================================*\
|//////////////////// DECKS.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*====================================================*/

.flex-sections,
.images,
.image-row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}


/*===============================================*\
|//////////////////// TEXT \\\\\\\\\\\\\\\\\\\\\\\|
\*===============================================*/

.text {
	-webkit-order: 2;
	order: 2;
}

.title {
	position: relative;
	top: 6em;
	height: 5em;
	width: 15em;
	margin: auto;
	text-align: center;
	font-size: 0.5rem;
	color: #444;
	background: #fff;
}

.title:before,
.title:after {
	content: "";
	z-index: -1;
	position: absolute;
}

.title:before {
	left: -0.75em;
	top: -0.75em;
	width: 16.5em;
	height: 6.5em;
	background-image: linear-gradient(
		to right,
		#444 0%,
		#444 10%,
		transparent 10%,
		transparent 90%,
		#444 90%,
		#444 100%
	);
}

.title:after {
	left: -3em;
	top: 0;
	width: 21em;
	height: 5em;
	background-image: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 43%,
		#444 43%,
		#444 57%,
		transparent 57%,
		transparent 100%
	);
}

.page-title {
	font-size: 5em;
	margin: 0;
}

.text {
	min-width: 320px;
	-webkit-flex-basis: 33%;
	flex-basis: 33%;
	text-align: justify;
}

.text p {
	padding: 5em;
}


/*======================================================*\
|//////////////////// DECK IMAGES \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/

.images {
	-webkit-order: 1;
	order: 1;
	background: #444;
	padding: 5em;
	-webkit-flex-basis: 66%;
	-webkit-flex-flow: column;
	flex-basis: 66%;
	flex-flow: column;
}

.image-row {
	border-right: 0.5em solid #fff;
}

.image-row:last-child {
	border-bottom: 0.5em solid #fff;
}

.image-row div {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.full-width,.half-width {
	background-size: cover;
	background-position: center;
	border-top: 0.5em solid #fff;
	border-left: 0.5em solid #fff;
}

.half-width {
	width: 50%;
}


.full-width img {
	width: 100%;
}

.half-width img {
	width: 100%;
	max-height: 100%;
}

img {
	/* display is handled via the background */ 
	opacity: 0;
}

#aftdeck {
	background-image: url(../images/brochure/full/aftdeck.png);
}

#sundeck-a {
	background-image: url(../images/brochure/full/sundeck-a.png);
}

#sundeck-b {
	background-image: url(../images/brochure/full/sundeck-b.png);
}

#sundecklounge {
	background-image: url(../images/brochure/full/sundecklounge.png);
}

#cruisingbow {
	background-image: url(../images/brochure/512/cruisingbow.png);
}

#jacuzziempty {
	background-image: url(../images/brochure/full/jacuzziempty.png);
}


/*========================================================*\
|//////////////////// MEDIA QUERIES \\\\\\\\\\\\\\\\\\\\\\\|
\*========================================================*/


@media (max-width:1190px) {
	.text p {
		padding: 5em 2.5em;
	}
}

@media (max-width:850px) {
	.flex-sections {
		-webkit-flex-flow: column-reverse;
		flex-flow: column-reverse;
	}
	
	.text {
		-webkit-flex-basis: auto;
		flex-basis: auto;
		border-top: 0.5em solid #444;
	}
	
	.images {
		-webkit-flex-basis: auto;
		flex-basis: auto;
	}
}

@media (max-width:600px) {
	.images {
		padding: 2em;
	}
}

@media (max-width:450px) {
	.images {
		padding: 0;
	}
	
	.image-row,
	.image-row:last-child,
	.full-width,
	.half-width {
		border-color: #444;
	}
}