/*===================================================*\
|//////////////////// HOME.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*===================================================*/
/*==== "hero" image ====*/
.header-background {
	background-image: url(../images/brochure/full/SkyView.png);
}

.home-traits {
	font-family: lane, sans-serif;
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 2rem;
	text-transform: uppercase;
	color: rgba(250,250,250,0.5);
	letter-spacing: 4px;
	-webkit-transform: rotateY(30deg) rotateZ(1deg);
	transform: rotateY(30deg) rotateZ(1deg);
}

.trait:first-child {
	font-size: 0.8em;
	margin-left: -1.4em;
	color: rgba(250,250,250,0.3);
}

.trait:last-child {
	font-size: 1.5em;
	margin-left: 1.2em;
	font-family: serif;
	font-style: italic;
	text-transform: lowercase;
	color: rgba(250,250,250,0.7);
}

.dark-text-box {
	position: relative;
	font-size: 1.2rem;
	padding: 0.5em 2em;
	color: #ccc;
	background: #444;
}

.details-trigger {
	position: absolute;
	transition: transform 300ms, background-position 300ms;
}

.details-trigger:hover {
	cursor: pointer;
}

.details-open {
	right: 0;
	top: -4em;
	width: 4em;
	height: 4em;
	background-image: url(../images/info.svg);
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 2.75em 1.75em;
}

.details-open:hover {
	background-position: 2em 1em;
}

.details-open:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	border-right: 4em solid #fff;
	border-top: 4em solid transparent;
	transition: all 300ms;
}

.details-open:hover:after {
	top: -2em;
	right: 0;
	border-right: 6em solid #fff;
	border-top: 6em solid transparent;
}

.details-close {
	right: 0;
	top: 0;
	width: 4em;
	height: 4em;
	background-image: url(../images/cancel-white.svg);
	background-repeat: no-repeat;
	background-size: 2.5em;
	background-position: 1em 0.5em;
}

.details-close:hover {
	background-position: 0.5em 1em;
}

.details-close:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	border-top: 6em solid #444;
	border-left: 6em solid transparent;
	transition: all 300ms;
}

.details-close:hover:after {
	border-top: 8em solid #444;
	border-left: 8em solid transparent;
}

/*==== Photo-Nav ====*/
.photo-nav {
	position: relative;
	background: #fff;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	min-width: 100%;
	padding: 1em 1em 5em;
}

.photo-nav-item {
	margin: 1em;
}

.photo-nav-text-box {
	font-family: lane, sans-serif;
	color: #444;
	margin-bottom: 1em;
}

.photo-nav-title {
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
}

.photo-nav-tagline {
	margin-top: 1em;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
}

.port-window {
	height: 17em;
	width: 17em;
	border-radius: 100%;
	box-shadow: inset 0 0 0 0.5em #444;
	border: 0.5em solid #444;
	overflow: hidden;
	margin: auto;
}

.photo-nav .cover-image {
	z-index: 0;
}

.photo-nav .cover-image:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.cover-image.accomodations {
	background-image: url(../images/brochure/full/jacuzzipromotional.png);
}

.cover-image.locations {
	background-image: url(../images/brochure/full/cruisingbow.png);
}

.cover-image.services {
	background-image: url(../images/brochure/820/coffeetable.png);
}

.cover-image.gallery {
	background-image: url(../images/brochure/820/waverunner.png);
}

/*==== Layout & Specs ====*/
.details-reveal {
	position: relative;
	max-height: 200em;
	display: flex;
	flex-flow: row wrap;
	padding: 4em 2em;
	transition: all 1.2s;
}

.details-reveal li {
	list-style: none;
	line-height: 1.25;
}

.details-reveal ul {
	margin: 0;
	padding: 0;
}

.layout {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 2em 0;
	overflow: hidden;
}

.layout-graphic {
	margin: auto;
}

.layout-graphic-legend {
	display: flex;
	font-size: 0.8em;
	margin: auto;
}

.layout-graphic-legend ul {
	margin-left: 1.5em;
	flex-basis: 10em;
}

.layout-graphic-legend h3 {
	margin: 2em 0 0.1em 0;
	padding: 0;
}

.specs {
	flex-grow: 2;
}

.spec-title {
	font-size: 2.5rem;
	font-weight: 100;
	margin: 0.25em 0;
}

.spec-name {
	display: inline;
	margin-right: 0.5em;
	font-weight: bold;
}


/*========================================================*\
|//////////////////// MEDIA QUERIES \\\\\\\\\\\\\\\\\\\\\\\|
\*========================================================*/

@media (max-width:850px) {
	.home-traits {
		top:  3em;
		margin: auto;
	}
}

@media (max-width:730px) {
	.home-traits {
		top: 5.25em;
		right: auto;
		width: 100%;
		display: flex;
		justify-content: space-around;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		text-align: center;
		font-size: 1em;
	}
	
	.trait {
		flex-grow: 1;
	}
	
	.trait:first-child,
	.trait:last-child {
		font-size: inherit;
		margin: 0;
		color: inherit;
		font-family: inherit;
		font-style: normal;
		text-transform: uppercase;
	}
}