/*                       /
                      __/___
             ________/###> o\\__________,
  _________/_________\\______\\######\\_______
  \  o   o   o       o o o o      o o    o o  \-,
~~<<<<<<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<<<<<
                     ~ A V A ~


/*====================================================*\
|//////////////////// RESOURCES \\\\\\\\\\\\\\\\\\\\\\\|
\*====================================================*/
@font-face{
	font-family: hall-fetica;
	src: url('../fonts/Hall Fetica Wide.ttf');
}

@font-face{
	font-family: lane;
	src: url('../fonts/LANENAR_.ttf');
}


/*======================================================*\
|//////////////////// BASIC SETUP \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: #444;
}

main {
	padding: 0;
	margin: 0 auto;
	min-height: 47em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover,
a:focus {
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	transition: color 300ms;
	color: rgba(245,195,125,1);
}

p {
	font-size: 1.2em;
	line-height: 1.7;
}

.hidden {
	display: none !important;
}

.slideHidden-vertical {
	max-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	visibility: hidden !important;
}

.slideHidden-horizontal {
	max-width: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	visibility: hidden !important;
}


/*======================================================*\
|//////////////////// PAGE HEADER \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
.header {
	position: relative;
	z-index: 100;
	justify-content: space-between;
	font-size: 1rem;
}



.header:after {
	content: "";
	width: 14em;
	height: 30em;
	background: #fff;
	position: absolute;
	top: -18em;
	left: 5.5em;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	border-bottom-right-radius: 1em;
}

.logo {
	z-index: 1;
	position: absolute;
	top: 0.5em;
	font-size: 2em;
	margin: 0.3em 0 0 0.9em;
}

.logo-text {
	margin: 0;
	margin-top: -0.15em;
	text-transform: uppercase;
	color: rgba(168,168,168,1);
	
	font-family: hall-fetica, sans-serif;
	letter-spacing: -.23em;
	-webkit-font-kerning: none;
	font-kerning: none;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), color-stop(78%, rgba(255,255,255,0.3)), to(rgba(0,0,0,.8)));
	mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), color-stop(78%, rgba(255,255,255,0.3)), to(rgba(0,0,0,.8)));
	text-shadow:  0.01em 0.01em 0.01em rgba(50,50,255,0.5);
}

.logo-tagline {
	padding-left: 0.2em;
	margin-top: -0.5em;
	font-family: lane, sans-serif;
	font-size: 0.42em;
	text-transform: uppercase;
	color: #999;
	color:rgba(68,68,68,.7);
}

.white-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 0.5em;
	width: 100%;
	background: #fff;
}

.footer,
.navigation,
.section-background {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}


/*======================================================*\
|//////////////////// PAGE FOOTER \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
.footer {
	position: relative;
	justify-content: space-between;
	padding: 2em;
	background: #444;
	color: #fff;
	border-top: 0.5em solid #fff;
}

.copyright {
	position: absolute;
	right: 4em;
	bottom: 0.5em;
	font-size: 0.7em;
	opacity: 0.3;
}

/*==== Contact Info ====*/
.contact {
	min-width: 31em;
	text-align: right;
	border-left: 1px solid rgba(250,250,250,0.2);
}

.contact-block {
	display: inline-block;
}

.contact-block:first-child {
	text-align: right;
	padding-right: 1em;
}

.contact-block:last-child {
	text-align: left;
	padding-left: 1em;
}

.contact-link {
	margin: 0.5em 0;
}

/*==== Navigation ====*/
.navigation {
	padding: 0.25em;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: lane, sans-serif;
}

.nav-item {
	text-transform: uppercase;
	margin-bottom: 0.5em;
	padding: 0 1em 1em;
}



/*=========================================================*\
|//////////////////// Dialog/Overlay \\\\\\\\\\\\\\\\\\\\\\\|
\*=========================================================*/

.overlay-action-bar {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.overlay,
.overlay-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay-cover {
	background: rgba(0,0,0,0.7);
}

.overlay-action-bar {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	background: #444;
	padding: 1em 1em 0;
}

.overlay-action {
	font-size: 1em;
	width: 10em;
	height: 2.5em;
	color: #444;
	background-color: #fff;
	background-image: linear-gradient(#fff 80%,#ccc 100%);
	border: none;
}

.overlay-action:hover,
.overlay-action:focus {
	cursor: pointer;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	transition: background-color 300ms;
	background-color: rgba(245,195,125,1);
	background-image: none;
}


/*=======================================================*\
|//////////////////// Request Form \\\\\\\\\\\\\\\\\\\\\\\|
\*=======================================================*/

.request-dialog-overlay {
	position: absolute;
	z-index: 101;
	width: 100%;
}

.request-dialog {
	position: relative;
	z-index: 102;
	max-width: 40em;
	min-width: 30em;
	margin: 3em auto;
}

.request-dialog-content {
	color: #333;
	background: #fff;
	padding: 1em 3em;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}

.request-box {
	position: absolute;
	left: 0;
	top: -2em;
	width: 100%;
}

.request-dialog-title h2 {
	font-size: 2em;
	color: #999;
	margin: 0.5em 0;
}

.form-input {
	font-size: 1.1em;
	margin: 0 2em 0.5em;
}

.form-input input,
.form-input textarea {
	font: inherit;
	font-size: inherit;
	line-height: 1.3;
	width: 15em;
}

.form-input label {
	width: 3em;
	display: inline-block;
}

.form-question {
	font-size: 1.3em;
	margin-bottom: 1em;
}

.contact-input {
	margin-top: 2em;
}

#send-request {
	margin-top: 4em;
}

#description {
	width: 100%;
	height: 10em;
	resize: vertical;
}

.dates input {
	width: 10em;
}

.to {
	width: 3.3em;
	text-align: center;
	display: inline-block;
}

.primary-button {
	display: block;
	font-size: 1.1em;
	height: 3em;
	width: 10em;
	margin: 0 auto;
	
	background: rgba(245,195,125,1);
	border: none;
	border-radius: 0.2em;
}

.primary-button:hover,
.primary-button:focus {
	cursor: pointer;
	background: rgba(250, 210, 140,1);
	box-shadow: 0 0 1.5em 0 rgba(250, 220, 200,0.4);
}


/*================================================*\
|//////////////////// TOOLS \\\\\\\\\\\\\\\\\\\\\\\|
\*================================================*/

/*==== Page Titles ====*/
.page-title {
	font-family: lane, sans-serif;
	font-size: 5em;
	margin: 0;
}

.page-tagline {
	font-size: 3em;
	font-family: lane, sans-serif;
}

/*==== Space-Dividing Utilities ====*/
.section {
	position: relative;
}

.section-full {
	min-width: 100%;
	min-height: 100%;
}

.section-golden {
	width: 67%;
}

.section-horz-3rd {
	width: 34%;
}

.section-vert-split {
	height: 50%;
}

.half-screen {
	height: 50vh;
}

/*==== Image-Related Stuff ====*/
.section-background {
	min-width: 100%;
	height: 100%;
	-webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	transition: transform 1s;
}

.cover-image {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	/* background: is set by the individual element */
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*==== Inspired By Magazines ====*/
.bottom-left-bracket {
	border-width: 0.75em;
	border-style: solid;
	-webkit-border-image: 
		-webkit-linear-gradient(45deg,  #444, #444 15%, rgba(0,0,0,0) 15%) 1;
	-moz-border-image:
		-moz-linear-gradient(45deg,  #444, #444 15%, rgba(0,0,0,0) 15%) 1;
	-o-border-image:
		-o-linear-gradient(45deg,  #444, #444 15%, rgba(0,0,0,0) 15%) 1;
	border-image:
		linear-gradient(45deg, #444, #444 15%, rgba(0,0,0,0) 15%) 1;
}

.fancy-letter:first-letter {
	font-size: 3em;
	float: left;
	margin-top: -0.6em;
	margin-bottom: -0.7em;
	padding-right: 0.1em;
	font-weight: bold;
	color: rgba(245,195,125,1);
}

@supports (-moz-transform: translate(0, 0)) {
	.fancy-letter:first-letter {
		margin-top: 0;
	}
}

.obscure {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

/*==== Other Shared Bits and Bobs ====*/
.continue-tour {
	width: 100%;
	font-size: 1.2em;
	padding: 1.5em;
	text-align: center;
	color: rgba(105,175,235,1);
	margin: -3em 0 2em;
}

.dark-text-box {
	position: relative;
	font-size: 1.2rem;
	padding: 0.5em 2em;
	color: #ccc;
	background: #444;
}


/*========================================================*\
|//////////////////// MEDIA QUERIES \\\\\\\\\\\\\\\\\\\\\\\|
\*========================================================*/

@media (max-width:850px) {
	.header {
		background-color: #fff;
	}
	
	.logo {
		position: relative;
		font-size: 1.5em;
	}

	.logo-tagline {
		position: relative;
		left: 7em;
		top: -1.3em;
		font-size: 0.8em;
		width: 15em;
	}
	
	.header:after {
		display: none;
	}
}

@media (max-width:700px) {
	.footer {
		display: block;
	}
	
	.contact {
		border-left: none;
		border-top: 1px solid rgba(250,250,250,0.2);
		text-align: center;
		padding-top: 2em;
	}
	
	.contact-block:first-child {
		text-align: left;
	}
}

@media (max-width:570px) {
	.contact {
		min-width: initial;
	}
	
	.contact-block:first-child,
	.contact-block:last-child {
		display: block;
		text-align: center;
		padding: 0;
	}
	
	.contact-block:first-child {
		padding-bottom: 1em;
	}
	
	.name {
		font-size: 1.3em;
	}
}

@media (max-width:420px) {
	.logo-tagline {
		text-align: right;
		width: 10em;
		left: 8.5em;
		top: -2.5em;
		font-size: 0.6em;
		margin-bottom: 0;
	}
}