/*                       /
                      __/___           
             ________/###> o\\__________,
  _________/_________\\______\\######\\_______
  \  o   o   o       o o o o      o o    o o  \-,
~~<<<<<<~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<<<<<
                     ~ A V A ~


/*====================================================*\
|//////////////////// RESOURCES \\\\\\\\\\\\\\\\\\\\\\\|
\*====================================================*/
@font-face{
	font-family: hall-fetica;
	src: url('Hall Fetica Wide.ttf');
}

@font-face{
	font-family: lane;
	src: url('LANENAR_.ttf');
}


/*======================================================*\
|//////////////////// BASIC SETUP \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: #444;
}

.content {
	padding: 0;
	margin: auto;
	padding-top: 0.5em;
}

[data-link-to] {
	cursor: pointer;
}


/*======================================================*\
|//////////////////// PAGE HEADER \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
.header {
	position: absolute;
	padding: 1em;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.header:after {
	content: "";
	width: 14em;
	height: 30em;
	background: #fff;
	position: absolute;
	top: -18em;
	left: 5.5em;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	border-bottom-right-radius: 1em;
}

.logo {
	position: relative;
	z-index: 1;
	font-size: 2rem;
	margin: 0.3em 0 0 0.4em;
}

.logo-text {
	margin: 0;
	margin-top: -0.15em;
	font-family: hall-fetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: -.23em;
	-webkit-font-kerning: none;
	font-kerning: none;
	color:rgb(68,68,68,1);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), color-stop(80%, rgba(255,255,255,.2)), to(rgba(0,0,0,.8)));
	mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), color-stop(80%, rgba(255,255,255,.2)), to(rgba(0,0,0,.8)));
	text-shadow:  0.01em 0.01em 0.01em rgba(50,50,255,0.5);
}

.logo-tagline {
	padding-left: 0.2em;
	margin-top: -0.5em;
	font-family: lane, sans-serif;
	font-size: 0.42em;
	text-transform: uppercase;
	color: #999;
	color:rgba(68,68,68,.7);
}


/*======================================================*\
|//////////////////// PAGE FOOTER \\\\\\\\\\\\\\\\\\\\\\\|
\*======================================================*/
.footer {
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	padding: 2em;
	background: #444; 
	color: #fff;
}

.footer [data-link-to]:hover,
.footer a:hover {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	color: rgba(227,204,33,1);
}

.copyright {
	position: absolute;
	right: 4em;
	bottom: 0.5em;
	font-size: 0.7em;
	opacity: 0.3;
}

/*==== Contact Info ====*/
.contact {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.contact-block {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.contact-block:first-child {
	text-align: right;
	padding-right: 1em;
}

.contact-block:last-child {
	text-align: left;
	padding-left: 1em;
}

.contact-block a {
	margin: 0.2em 0;
	text-decoration: none;
	color: inherit;
}

/*==== Navigation ====*/
.navigation {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-column-width: 10em;
	-webkit-column-gap: 2em;
	-webkit-column-rule: 0.1em solid rgba(192,205,220,0.2);
	-moz-column-width: 10em;
	-moz-column-gap: 2em;
	-moz-column-rule: 0.1em solid rgba(192,205,220,0.2);
	column-width: 10em;
	column-gap: 2em;
	column-rule: 0.1em solid rgba(192,205,220,0.2);
	font-family: lane, sans-serif;
	text-transform: uppercase;
}

.nav {
	margin-bottom: 0.5em;
}


/*===================================================*\
|//////////////////// SECTIONS \\\\\\\\\\\\\\\\\\\\\\\|
\*===================================================*/
.section-title {
	font-family: lane, sans-serif;
	font-size: 5rem;
}

.section {
	position: relative;
}

/*==== Big Background Container ====*/
.section-background {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	min-width: 100%;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

/*==== Space-Dividing Utilities ====*/
.section-full {
	width: 100%;
	height: 100%;
}

.section-golden {
	width: 67%;
}

.section-horz-3rd {
	width: 34%;
}

.section-vert-split {
	height: 50%;
}

.half-screen {
	height: 50vh;
}

.cover-image {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	/* background: is set dynamically via js */
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.obscure {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	overflow: hidden;
}


/*===========================================================*\
|////////////////////////////|\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\|
|//////////////////// CONTENT-SPECIFIC \\\\\\\\\\\\\\\\\\\\\\\|
|\\\\\\\\\\\\\\\\\\\\\\\\\\\\|////////////////////////////////|
\*===========================================================*/

/*===================================================*\
|//////////////////// HOME.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*===================================================*/
/*==== "hero" image ====*/
.home-traits {
	font-family: lane;
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 2rem;
	text-transform: uppercase;
	color: rgba(250,250,250,0.5);
	letter-spacing: 4px;
	-webkit-transform: rotateY(30deg) rotateZ(1deg);
	transform: rotateY(30deg) rotateZ(1deg);
}

.trait:first-child {
	font-size: 0.8em;
	margin-left: -1.4em;
	color: rgba(250,250,250,0.3);
}

.trait:last-child {
	font-size: 1.2em;
	margin-left: 1.2em;
	color: rgba(250,250,250,0.7);
}

.dark-text-box {
	font-size: 1.2rem;
	padding: 0.5em 2em;
	color: #fff;
	background: #444;
}

/*==== Photo-Nav ====*/
.photo-nav .nav {
	z-index: 1;
	flex-grow: 1;
	height: 100%;
	width: 20%;
	overflow: hidden;
}

.photo-nav .cover-image {
	z-index: 0;
	min-width: 0;
}

.photo-nav .cover-image:hover {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/*==== Layout & Specs ====*/
.details-reveal {
	display: none;
		/* 
			none on page load
			toggle to flex
		*/
	flex-flow: row wrap;
	padding: 4em 2em;
}

.details-reveal li {
	list-style: none;
	line-height: 1.25;
}

.details-reveal ul {
	margin: 0;
	padding: 0;
}

.specs {
	flex-grow: 2;
}

.spec-title {
	font-size: 2.5rem;
	font-weight: 100;
	margin: 0.25em 0;
}

.spec-name {
	display: inline;
	margin-right: 0.5em;
	font-weight: bold;
}

.layout {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 2em 0;
	overflow: hidden;
}

.layout-graphic {
	margin: auto;
}

.layout-graphic-legend {
	display: flex;
	font-size: 0.8em;
	margin: auto;
}

.layout-graphic-legend ul {
	margin-left: 1.5em;
	flex-basis: 10em;
}

.layout-graphic-legend h3 {
	margin: 2em 0 0.1em 0;
	padding: 0;
}


/*========================================================*\
|//////////////////// LOCATIONS.PHP \\\\\\\\\\\\\\\\\\\\\\\|
\*========================================================*/
#google-streetview {
	width: 100%;
	height: 100%;
}